.centerview { 
	border-left: 0; 
	border-top: 0; 
	padding: 10px 10px 10px 10px;
	background-color: #ffffff;
	color: $base-color; 
	font-size: 24px;
	background-size: 20px 20px;
	//border-left: 3px solid lightgray;
}
